.newSlider {
    width:50%;
    margin: auto;
}


.newSlider img {
    filter: brightness(55%)
}


@media (max-width: 1024px) {
    .newSlider {
        width: 75%;
    }
    .title {
        font-size: 35px;        
    }
}

@media (max-width: 768px) {
    .newSlider {
        width: 100%;
        height: 40vh
    }

    .title {
        font-size: 20px;
    }
    .newSlider .item, .carousel-inner, .carousel-item {
        height: 100%;
    }
    .description {
        display: none;
    }
    .card {
        width: 90%;
    }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:30px;
}

.card {
    border: 1px solid black;
    text-align: center;
    margin:auto;
    padding-top:10px;
    width: 50%;
    background-color: gray;
}
